
body {
    color: white;
    font-family: 'Shadows Into Light', cursive;
    position:relative;
    background-color: #D9BBF9;
}

div.container {
    width:  1600px;
}

h2.banner{
    font-size: 7em;
    margin:  -150px;
}

img{
	max-width: 100%;
}

.btn-info {
    color: #fff;
    background-color: #D9BBF9;
    border-color: #D9BBF9;
}

.main {
    padding-top: 50px;
    padding-bottom: 0px;
    text-align: center;
    color: #f8f8f8;
    background: url("../img/WOC-books.jpg") no-repeat center center;
    background-size: cover;
    text-shadow: 6px 6px 3px rgba(120, 113, 170, 1);
    height: 1000px;
    }

@media screen and (min-width: 768px){
    .jumbotron .h1, .jumbotron h1 {
    font-size: 110px;
    }
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 50px;
    font-weight: 200;
}

.page-header{
  margin: 200px;
  text-align: center;
}

.about {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("../img/WOC-two.jpg") no-repeat center center;
    background-size: cover;
    height: 300px;
}

.skills {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("../img/blackServers.jpg") no-repeat center center;
    background-size: cover;
    height: 300px;
}

.projects {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("../img/WOC-sit.jpg") no-repeat center center;
    background-size: cover;
    height: 300px;
}

.contact {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("../img/WOC-sit.jpg") no-repeat center center;
    background-size: cover;
    height: 300px;
}


.row {
	margin: 20px;
	padding: 20px;
	color: #4E5283;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: #4E5283;
}

img.dev {
    height: 120px;
    width:  120px;
    margin: 10px;
    float: left;
}

div.email {
    padding: 2px;
    margin:  5px;
}

footer {
	font-size: 20px;
	background-color: black;
	margin-bottom: 0;
}

i {
	color: white;
	text-align: center;
	padding: 2px 5px 2px 5px;	
	margin: 0px;
   font-size: 20px;
   display: inline;
}

h5 {
	float: right;
	margin: 0px;
	padding: 2px 5px 2px 5px;
	background-color: #4E5283;	
}

.grid-item {
    width: 25%; 
}

.grid-item--width2 {
     width: 50%;
 }

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
